@import "componentes/globales"
@import "componentes/buscadores"
@import "componentes/encabezado--con-filtros"
@import "componentes/contenidos"
@import "componentes/cajas"
@import "componentes/estadisticas--articulos"
@import "componentes/cajas--sin-imagenes"



	

