.caja	
	max-width: 430px
	caja-sombra()
	&__contenido
		height 270px
		padding 20px
		background-color: color-claro
		h3	
			titulos(Fuente2)	
			font-weight: normal
		span 	
			titulos(Fuente2)
			color: color-secundario		