.encabezado--con-filtros
	container()
	justify-content: space-between
	h2
		font-size: 50px
		font-weight: 500
		margin-top: 10px
		titulos(Fuente2)
	.filtros
		width: 250px
		padding: 20px
		height: 75px
		display flex
		justify-content space-evenly
		align-items center
		caja-sombra()
		span 
			titulos(Fuente2)
		a
			margin-left: 20px
			font-size: 25px
			color: color-primario